* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #2c3e50;
}

header p {
    margin-top: 5px;
    font-size: 1em;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.section {
    margin-bottom: 20px;
}

.section p {
    text-align: justify;
}

.section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.job h3 {
    font-size: 1.2em;
    color: #2980b9;
}

.job p {
    font-style: italic;
    color: #7f8c8d;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
/* Estilos específicos para impressão */
@media print {
    body {
        background-color: white; /* Remover o fundo */
        color: black; /* Garantir que o texto fique bem legível */
    }

    .container {
        width: 100%; /* Usar o espaço total da página impressa */
        margin: 0;
        padding: 0;
        border: none; /* Remover bordas */
        box-shadow: none; /* Remover sombras */
    }

    a {
        color: black; /* Tornar os links legíveis em preto */
        text-decoration: none; /* Remover sublinhado para versão impressa */
    }

    header {
        text-align: left; /* Alinhar o cabeçalho à esquerda para impressão */
    }

    .section {
        page-break-inside: avoid; /* Evitar quebra de página dentro das seções */
    }

    h1, h2, h3 {
        break-inside: avoid; /* Evitar que os títulos fiquem divididos entre páginas */
    }
    #language-switch {
        display: none;
    }
}
